* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    width: 100vw;
    height: 10vh;
    background-color: #000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    color: white;
    font-size: 24px;
}

.menu--mobile img {
    width: 40px;
    height: 40px;
}

.menu--mobile {
    cursor: pointer;
}

@media (min-width: 768px) {
    .menu--mobile {
        display: none;
    }

    .menu--desktop {
        display: flex;
    }
}

@media (max-width: 768px) {
    .menu--desktop {
        display: none;
    }

    .menu--mobile {
        display: flex;
    }
}

.menu--desktop {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.catalog {
    margin-right: 20px;
}
.content{
    width: 70vw;
    background-color: yellow;
}
.aside{
    width: 30vw;

    background-color:blue;
}
.main{
    height: 80vh;
    display: flex;
    flex-direction: row-reverse;
}
.catimg{
   display: flex;
    justify-content: center;
    padding-top: 20px;
}
.cattext{
    display: flex;
    justify-content: center;
}
.aside ol:first-child{
    margin:20px ;
}
.aside ol:first-child li{
    margin:20px 0;
}
footer{
    background-color: brown;
    width: 100vw;
    height: 20vh;

}

.menu--desktop button {
    margin-left: 20px;
    padding: 0 5px;
}